@{
    ViewBag.Title = "Área do Usuário";
}

<div class="card">
    <h2>TechFlow - Área do Usuário</h2>

    <a href="/Chamados/Novo">
        <button class="btn-primary">ABRIR CHAMADO</button>
    </a>

    <a href="/Chamados/Meus">
        <button class="btn-primary">MEUS CHAMADOS</button>
    </a>

    <a href="/Faq/Index">
        <button class="btn-primary">FAQ INTELIGENTE (IA)</button>
    </a>

    <a href="/Account/Perfil">
        <button class="btn-primary">PERFIL DO USUÁRIO</button>
    </a>
</div>
