@model IEnumerable<TechFlowSolutions.Models.Chamado>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Gerenciar Chamados";
}

<div class="card">
    <h1 class="page-title">Gerenciar Chamados</h1>

    <p>
        <a class="btn" href="/Chamados/Novo">Abrir Novo Chamado</a>
    </p>

    <table>
        <thead>
            <tr>
                <th>Título</th>
                <th>Status</th>
                <th>Prioridade</th>
                <th>Data Abertura</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in Model)
            {
                <tr>
                    <td>@c.Titulo</td>
                    <td>@c.Status</td>
                    <td>@c.Prioridade</td>
                    <td>@c.DataAbertura.ToString("dd/MM/yyyy HH:mm")</td>
                    <td>
                        <a href="/Chamados/Editar/@c.IdChamado" class="btn btn-secondary">Editar</a>
                        <a href="/Usuario/Ecluir/@c.IdChamado" class="btn btn-danger"
                           onclick="return confirm('Deseja realmente excluir este Chamnado?');">
                            Excluir
                       
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
