@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">

    <img src="~/lib/logo-techflow.png" class="logo-techflow" />

    <h2 style="color:#8FFF00;">Meus Chamados</h2>

    <p><b>Internet não funciona</b><br>Sem conexão no setor financeiro<br>Status: Pendente — <span style="color:red">Alta</span></p>
    <hr />
    <p><b>Impressora travada</b><br>Erro 502<br>Status: Em atendimento — <span style="color:orange">Média</span></p>
    <hr />
    <p><b>Computador lento</b><br>Máquina iniciando com delay alto<br>Status: Concluído — <span style="color:#8FFF00">Baixa</span></p>

</div>
