@model TechFlowSolutions.Models.Chamado
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Abrir Chamado";
}

<div class="center-wrapper">
    <form method="post" action="/Chamados/Salvar" class="form-box">
        <h1>Abrir Chamado</h1>

        <label>Título</label>
        <input type="text" name="Titulo" required />

        <label>Descrição</label>
        <textarea name="Descricao" rows="3" required></textarea>

        <label>Categoria</label>
        <select name="CategoriaId" required>
            @foreach (var c in ViewBag.Categorias)
            {
                <option value="@c.IdCategoria">@c.Nome</option>
            }
        </select>

        <label>Prioridade</label>
        <select name="Prioridade">
            <option>Baixa</option>
            <option>Média</option>
            <option>Alta</option>
        </select>

        <button type="submit" class="btn-salvar">Salvar</button>
    </form>
</div>
<style>

    .btn-salvar {
        background: #B4FF00;
        border: none;
        width: 100%;
        padding: 14px;
        border-radius: 8px;
        font-weight: bold;
        cursor: pointer;
        margin-top: 10px;
    }
</style>